<ion-header >
  <ion-navbar color=danger text-center>

    <h1>ES Saúde</h1>
    <h2>"Os melhores profissionais estão aqui"</h2>


  </ion-navbar>
</ion-header>

  
<ion-content text-center>
  
   
    <ion-item>      
      <ion-label black text-center 
          (click)="mostrarListaEscolherCidade()"> 
            {{ cidadeEscolhidaNome != null ? cidadeEscolhidaNome : 'CLIQUE AQUI E ESCOLHA A CIDADE' }}
      </ion-label>
    </ion-item>


       

          <ion-slides *ngIf="slides" [pager]=true [autoplay]=2000 [loop]=true [speed]=1000 #slidesGroup
          (ionSlideAutoplayStop)="ionSlideAutoplayStop()">

            <ion-slide *ngFor="let slide of slides">
                <img [src]="slide?.url"/>
            </ion-slide>

        </ion-slides>

        
        <ion-item text-center>
          <p color="black" outline round text-center>ENCONTRE AQUI</p>
          <p color="black" outline round text-center>OS MELHORES PROFISIONAIS DO ESPÍRITO SANTO</p>
        </ion-item>

</ion-content>
