<ion-header >
  <ion-navbar color=danger text-center>

    <h1>ES Saúde</h1>
    <h2>"Os melhores profissionais estão aqui"</h2>


  </ion-navbar>
</ion-header>


<ion-content padding text-center>
    
  <button ion-button 
          color="danger" 
          block 
          (click)="fazerListaEscolha('cidades')">CIDADE</button>
  <ion-item>      
    <ion-label black text-center 
        (click)="fazerListaEscolha('cidades')"> 
          {{ cidadeEscolhida != null ? cidadeEscolhida : 'CLIQUE E ESCOLHA A CIDADE' }}
    </ion-label>
  </ion-item>

  <button ion-button color="danger" block (click)="fazerListaEscolha('especialidades')">ESPECIALIDADE</button>
  <ion-item>      
    <ion-label black text-center 
        (click)="fazerListaEscolha('especialidades')"> 
          {{ especialidadeEscolhida != null ? especialidadeEscolhida : 'CLIQUE E ESCOLHA A ESPECIALIDADE' }}
    </ion-label>
  </ion-item>

  <ion-list *ngIf="existeResultadoPesquisa">
      <ion-list-header>
        Ionic 2 Accordion Example
      </ion-list-header>
      <div *ngFor="let d of data" (click)="toggleDetails(d, $event)">
          <button ion-button full>{{d.title}}</button>          
        <div *ngIf="d.showDetails">{{d.details}}</div>
      </div>
  </ion-list>

  
 

</ion-content>
